<html>


	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
			    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			    <h1 class="mui-title">确认订单</h1>
			</header>
			<div class="mui-content" style="margin-bottom: 15px;">
			    <ul class="mui-table-view lo">
		            <li class="mui-table-view-cell" v-if="consignee_info">
		                <a class="mui-navigate-right">
		                   <img src="../images/r9.png"/>
		                   <div class="mui-h4"></div>
		                    <p style="text-indent: 20px;"></p>
		                </a>
		            </li>
		            <li class="mui-table-view-cell">
		                <a class="mui-navigate-right">
		                    <img src="../images/r9.png"/>
		                    <span class="mui-h4">请选择一个收货地址</span>
		                </a>
		            </li>		            
		        </ul>
			    <!--<ul class="mui-table-view">
		            <li class="mui-table-view-cell">
		                <a class="mui-navigate-right">
		                    <span>支付方式</span>
		                    <span class="mui-pull-right mui-badge mui-badge-inverted">在线支付</span>
		                </a>
		            </li>
		        </ul>	-->
		        
			    <ul class="mui-table-view">
		            <li class="mui-table-view-cell">
	                    <span class="shop-title"></span>
		            </li>
		            <li class="mui-table-view-cell">
	                    <template v-for="item in list">                    	
		                    <div>                    	
		                    	<span></span>
			                	<span class="mui-pull-right mui-badge mui-badge-inverted">
			                		<font class="mui-h5">x</font>
			                		<font class="mui-h4" style="color: #333;">￥</font>
			                	</span>
		                    </div>
	                    </template>
		            </li>
		            <!--<li class="mui-table-view-cell" v-if="shop.dclocation">
	                    <div>                    	
	                    	<span>配送费</span>
		                	<span class="mui-pull-right mui-badge mui-badge-inverted">
		                		<font class="mui-h4" style="color: #333;" v-if="shop.dclocation.location_delivery_info">￥</font>
		                	</span>
	                    </div>
		            </li>-->
	                    	<!--total_price总额，pay_price应付金额，-->
		            <li class="mui-table-view-cell">
	                    <div>                    	
	                    	<span></span>
		                	<span class="mui-pull-right mui-badge mui-badge-inverted">
		                		<font class="mui-h4" style="color: #333;">总额￥</font>
		                		<font class="mui-h4" style="color: #333;">应付金额￥</font>
		                	</span>
	                    </div>
		            </li>	            
		        </ul>		        		        
			</div>
			<div class="footer">
			   <div class="money-ps mui-pull-left">
			   		<div class="money">
			   			应付金额￥{{price}}
			   		</div>
			   </div>
			   <div class="checked mui-pull-right">
			   		<span>提交订单</span>
			   </div>
			</div>		
		</div>


	</body>

</html>